@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
    font-family: 'Krub', sans-serif;
    font-size: 120%;
    margin: 0;
    background-color: whitesmoke;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    text-align: center;
}

header h1 {
    font-size: 300%;
    font-weight: 200;
    color: crimson;
}

main {
    margin: 1em 0;
    padding: 2em;
    background: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);
}

main > :last-child {
    margin-bottom: 0;
}

main > :first-child {
    margin-top: 0;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

h1, h2 {
    margin-bottom: 0.5em;
}

a {
    color: crimson;
}

a:not(:hover) {
    text-decoration: none;
}

footer {
    font-size: 80%;
    color: #737373;
    margin-bottom: 2em;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contactList {
    flex-basis: 45%;
    margin-right: 2%;
}

.contactDetails {
    flex-basis: 45%;
    margin-left: 2%;
}

.contacts .contactList .active a {
    color: black;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav li a {
    color: #333;
    text-decoration: none;
}

nav li.active a {
    color: #000;
    font-weight: bold;
}
nav li :hover{
    color: crimson;
    font-weight: bold;
}